
          


      <div class="row">
        <div class="span12 push-right">
          <a class="btn btn-primary" {{action "savePost"}}>Save</a>
          {{#linkTo "posts.index" class="btn"}}cancel{{/linkTo}}
        </div>
      </div>
{{outlet}}
